<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Product Review</title>
        <title lang="de-DE">Produktbewertung</title>

        <input-field type="bool">
            <name>purchasedEnabled</name>
            <label>Activate review product purchased</label>
            <label lang="de-DE">Aktivieren Sie das gekaufte Produkt</label>
        </input-field>
    </card>
</config>
